@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'PoppinsBold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  }
  

body {
    background-color: red !important;

    --purple-hsl: 255, 60%, 60%;
    --overlay-blurple: hsla(var(--purple-hsl), .2);
    --overlay-blurple: rgba(107, 78, 187, 0.324);
    --overlay-blurple: #c5970014;
    --hx-color-dark: #111;
    --hx-color-gray: #26262689;

    font-family: "Poppins";
    background: linear-gradient(215deg,var(--overlay-blurple),transparent 40%),radial-gradient(var(--overlay-blurple),transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,radial-gradient(var(--overlay-blurple),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem, 
    url("/images/website_background.png") center/cover no-repeat !important;
    background-attachment: fixed !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

.hextra-card {
    background-color: var(--hx-color-gray) !important;
}

.header-title {
    color: red !important;
}

h1 {
    color: rgb(176, 123, 0) !important;
}

h2 {
    color: rgb(187, 135, 15) !important;
}